@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400&display=swap");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.header {
  background: #EFEFEF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__login {
  margin-left: auto;
  color: #FF7931;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__login > a {
  color: inherit;
  margin-right: 10px;
  padding: 5px;
}

.header__login > a:hover {
  text-decoration: underline;
}

.header__title {
  padding: 20px 0 40px 0;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 1px;
  color: #000;
  text-align: center;
}

.header-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.header-slider__wrap-links {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-slider__new {
  width: 100px;
  height: 30px;
  background-color: #FF7931;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2px;
}

.header-slider__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 4.5rem;
  line-height: 85px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.carousel-indicators__item {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
}

.carousel-item {
  width: 100%;
  height: 700px;
}

.carousel-item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0000006b;
  z-index: 1;
}

.carousel-item > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-caption {
  top: 50px;
}

.carousel-caption > h3 {
  font-size: 4.5rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.menu__item {
  font-family: 'Raleway', sans-serif;
  font-size: .95rem;
  line-height: 1.1rem;
  letter-spacing: 2px;
  padding: 10px 0;
  margin: 0 10px;
  text-align: center;
  color: #000;
}

.menu__item:hover {
  color: #FF7931;
}

.menu__item img {
  display: none;
}

.header-slider__wrap-items {
  display: none;
  width: 100px;
  margin-top: 20px;
}

.header-slider__wrap-items span {
  width: 10px;
  height: 10px;
  background: #ffffff66;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 5;
  background: #FF7931;
  -webkit-transition: .5s;
  transition: .5s;
  display: none;
}

.burger span,
.burger span:before,
.burger span:after {
  content: '';
  position: absolute;
  width: 22px;
  height: 2.5px;
  background: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger span:before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.burger span:after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.my-font-one {
  font-family: "Raleway", sans-serif;
}

.my-container {
  width: 95%;
  margin-top: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.content_acc {
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.content__title {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.4fr 1fr;
      grid-template-columns: 1.4fr 1fr;
  grid-column-gap: 20px;
  -ms-grid-column: 2;
  grid-column: 2;
}

.news__title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.news-box1 {
  min-height: 351px;
  height: 100%;
  background-size: cover;
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.news-box1 > a {
  height: 100%;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: .5s;
  transition: .5s;
}

.news-box1:hover .news-box1__header {
  color: #FF7931;
  -webkit-transition: .5s;
  transition: .5s;
}

.news-box1__content {
  padding-left: 20px;
}

.news-box1__header {
  font-family: "Playfair Display", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 27px;
  padding-bottom: 10px;
}

.news-box1__text {
  font-family: "Raleway", sans-serif;
  font-size: 1.14rem;
  line-height: 150%;
  padding-bottom: 20px;
}

.news-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 2;
  grid-column: 2;
}

.news-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
}

.news-box2__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
}

.news-box2__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-box2__wrap-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-height: 110px;
}

.news-box2__wrap-img > img {
  max-width: 130px;
  max-height: 110px;
}

.news-box2__title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 900;
  font-size: 1.1rem;
  line-height: 19px;
}

.news-box2__text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
}

.news-box2__wrap-img:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000b3;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.news-box2:hover .wrap-text h3,
.news-box3:hover .wrap-text h3,
.news-box4:hover .wrap-text h3 {
  color: #FF7931;
  -webkit-transition: .5s;
  transition: .5s;
}

.news-box2:hover .news-box2__wrap-img:before,
.news-box3:hover .news-box2__wrap-img:before,
.news-box4:hover .news-box2__wrap-img:before {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.wrap-text {
  margin-left: 10px;
}

.wrap-text h3 {
  -webkit-transition: .5s;
  transition: .5s;
}

.rewiews {
  -ms-grid-column: 2;
  grid-column: 2;
}

.rewiews__title {
  margin-bottom: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.06rem;
  line-height: 1, 25rem;
}

.rewiews__subtitle {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 2rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.rewiews__text {
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.rewiews__item > .wrap-img:hover .wrap-img__link {
  background-color: #000000b3;
  -webkit-transition: .5s;
  transition: .5s;
}

.rewiews__item > .wrap-img:hover .wrap-img__link span {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.rewiews__item > .wrap-img:hover .wrap-img + .rewiews__subtitle {
  color: #FF7931;
  -webkit-transition: .4s;
  transition: .4s;
}

.rewiews__wrap-text {
  margin-top: 15px;
}

.wrap-img {
  position: relative;
  max-width: 489px;
}

.wrap-img img {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.wrap-img__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

.wrap-img__link span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff66;
  width: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 0 1.25rem 0.93rem;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.wrap-img_color {
  background: #EFEFEF;
  max-height: 500px;
}

.wrap-img_color > img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 420px;
}

.wrap__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  grid-column-gap: 60px;
}

.sidebar {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 370px;
}

.sidebar__wrap {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.sidebar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #FF7931;
}

.sidebar__title {
  font-weight: normal;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.sidebar__text {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.sidebar__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sidebar__date > input {
  max-width: 120px;
  border: 1px solid #FF7931;
}

.sidebar__btn {
  background: #FF7931;
  color: #fff;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__input {
  padding-left: 15px;
  height: 30px;
  border: 1px solid #FF7931;
}

.search__btn {
  background: #FF7931;
  width: 56px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FF7931;
  margin-left: -1px;
  outline-width: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.search__btn > svg {
  width: 70%;
  height: 70%;
}

.search__btn > svg > path {
  fill: #fff;
}

.search__btn:hover svg path {
  fill: #FF7931;
  -webkit-transition: .3s;
  transition: .3s;
}

.search__btn:hover {
  background: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.watch {
  letter-spacing: 2px;
  width: 160px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FF7931;
  -webkit-transition: .3s;
  transition: .3s;
  border: 2px solid #FF7931;
}

.watch:hover {
  color: #000;
  background: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.watch img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.watch_white {
  width: 109px;
  height: 31px;
  background: #0000004d;
  border: 1px solid #fff;
  font-size: 0.625rem;
  letter-spacing: 2px;
}

.slider {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 0;
  height: 313px;
}

.slider__circle-wrap {
  width: 100px;
  display: none;
  margin-top: 20px;
}

.slider__circle-wrap span {
  width: 10px;
  height: 10px;
  background: #0000004d;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.slider__circle-wrap span:hover {
  background: #000000;
}

.slider__inner-wrap {
  color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  top: 0;
  left: 0;
}

.slider__inner-wrap h3 {
  margin-bottom: 15px;
}

.slider__inner-wrap:hover {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #00000066;
}

.slider__item {
  position: relative;
  height: 110px;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider__item > img {
  height: 100%;
  width: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__item:hover {
  height: 136px;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider__arrow-l, .slider__arrow-r {
  position: absolute;
  z-index: 2;
  height: 45px;
  width: 45px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 20px #00000026;
          box-shadow: 0 0 20px #00000026;
  cursor: pointer;
}

.slider__arrow-l {
  left: -20px;
  top: calc(50% - 22.5px);
}

.slider__arrow-r {
  right: -20px;
  top: calc(50% - 22.5px);
}

.header_out {
  display: none;
}

.account__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 3rem;
}

.account__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.account__table a {
  color: #FF7931;
  border: 1px solid #FF7931;
  padding: 7px 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.account__table a:nth-child(2) {
  margin: 0 10px;
}

.account__table a:hover {
  background: #FF7931;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 650px) {
  .account__table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .account__table a:nth-child(2) {
    margin: 5px 0;
  }
}

.anothe_articles {
  border: 1px solid #FF7931;
  padding: 10px;
  background: #EFEFEF;
  max-width: 320px;
}

.anothe_articles_wrap {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 200px;
  margin-top: 40px;
  background-color: #f7f7f7;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer__title {
  font-family: "Playfair Display", sans-serif;
  color: #000;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 2rem;
}

.footer__text {
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2rem;
  color: #000;
}

.footer__text span:last-child {
  font-weight: normal;
}

.my-modal {
  background: #ff79317e;
}

.my-modal__btn {
  background: #FF7931;
  color: #fff;
}

@media (max-width: 1350px) {
  .slider {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .slider__item:nth-child(3) {
    margin: 0 20px;
  }
  .slider__item:nth-child(5) {
    display: none;
  }
}

@media (max-width: 1250px) {
  .content {
    -ms-grid-columns: 1fr 4fr;
        grid-template-columns: 1fr 4fr;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
  .header-slider__text {
    width: 40%;
  }
}

@media (max-width: 1100px) {
  .content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container {
    width: 98%;
  }
  .menu {
    width: 100%;
  }
  .menu__item {
    width: 100%;
    margin: 0;
  }
  .menu {
    background: #fff;
    height: 100vh;
    width: 100%;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 15;
    overflow: auto;
    padding: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    -webkit-transition: .5s;
    transition: .5s;
    overflow: auto;
  }
  .menu__item {
    background-color: #F9F9FC;
    padding: 20px 30px;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__item:first-child {
    margin-top: 75px;
  }
  .menu__item img {
    display: block;
  }
  .header_out {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_in {
    display: none;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .search {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 30px;
  }
  .sidebar {
    display: none;
  }
  .sidebar__item {
    width: 230px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 30px;
  }
  .sidebar__label-wrap {
    padding-top: 10px;
  }
}

@media (max-width: 970px) {
  .content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
  .content__title {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .all {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .sidebar {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9/10;
  }
  .sidebar__item {
    width: 230px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 30px;
  }
  .sidebar__label-wrap {
    padding-top: 10px;
  }
  footer {
    height: 30px;
  }
  footer div {
    display: none;
  }
  .header-slider__wrap-links {
    display: none;
  }
  .header-slider__wrap-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .header-slider__wrap-items > span:hover {
    background: #fff;
  }
}

.on {
  -webkit-transform: translate(0%);
          transform: translate(0%);
  -webkit-transition: .5s;
  transition: .5s;
}

.on span {
  height: 0;
}

.on span:before {
  width: 28px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #d7d9df;
}

.on span:after {
  width: 28px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #d7d9df;
}

.burger_active {
  left: 100%;
  margin-left: -70px;
  margin-top: 10px;
  -webkit-transition: .5s;
  transition: .5s;
  background: none;
  position: fixed;
  z-index: 20;
}

@media (max-width: 900px) {
  .content {
    grid-gap: 0;
  }
  .header-slider__text {
    width: 50%;
  }
  .news-box1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .news-box2__wrap-img:before {
    content: '';
    background-color: rgba(21, 21, 30, 0.5);
  }
  .news-box2:nth-child(2) {
    margin: 10px 0;
  }
  .news-right {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    grid-row: 3;
    margin: 25px 15px 50px 15px;
  }
  .wrap-img__link span:before {
    display: none;
  }
  .wrap-img__link span:after {
    position: absolute;
    right: 0;
  }
  .pagination {
    margin: 40px 0;
  }
  .pagination__arrow-l, .pagination__arrow-r {
    border: none;
  }
  .pagination__items {
    max-width: 100%;
    margin: 0 10px;
  }
  .pagination__nav {
    min-width: 40px;
    height: 40px;
  }
  .pagination__nav:after {
    border: 1px solid #FF7931;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .preview-inner-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60%;
  }
  .preview-inner-wrap h3 {
    text-align: center;
  }
  .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 250px;
  }
  .slider__circle-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .slider__item:nth-child(3), .slider__item:nth-child(4), .slider__item:nth-child(5), .slider__arrow-l, .slider__arrow-r {
    display: none;
  }
  .slider__item {
    max-width: 300px;
    width: 100%;
    min-height: 146px;
  }
  .slider__item > img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header-slider__text {
    width: 60%;
  }
  .header-slider__title {
    font-size: 4rem;
  }
}

@media (max-width: 926px) {
  .rewiew {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

@media (max-width: 620px) {
  .header-slider__text {
    width: 70%;
  }
  .header-slider__title {
    font-size: 3.5rem;
  }
}

@media (max-width: 530px) {
  .header-slider__text {
    width: 80%;
  }
  .header-slider__title {
    font-size: 3rem;
    line-height: 4rem;
  }
}

@media (max-width: 460px) {
  .header-slider__text {
    width: 98%;
  }
  .pagination__items {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .pagination__nav:nth-child(4), .pagination__nav:nth-child(5) {
    display: none;
  }
}

.header__login_disabled {
  display: none;
}

@media print {
  .nav, .header__login, .news-right, .content__title a {
    display: none;
  }
  .content_acc {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .wrap__items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
