.footer {
	flex: 0 0 auto;
	height: 200px;
	margin-top: 40px;
	background-color: map-get($colors, six);

	&-wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	&__title {
		font-family: map-get($fonts, one), sans-serif;
		color: map-get($colors, two);
		font-weight: 900;
		letter-spacing: 1px;
		font-size: 2rem;
	}

	&__text {
		font-family: map-get($fonts, two), sans-serif;
		display: flex;
		flex-direction: column;
		align-items: center;
		line-height: 2rem;
		color: map-get($colors, two);

		span:last-child {
			font-weight: normal;
			color: map-get($colors, txt-footer);
		}
	}
}

.my-modal {
	background: #ff79317e;
	&__btn {
		background: map-get($colors, one);
		color: map-get($colors,three);
	}
}

@media (max-width: 1350px) {
	.slider {
		margin: 0 auto;
		justify-content: center;
		width: min-content;

		&__item:nth-child(3) {
			margin: 0 20px;
		}

		&__item:nth-child(5) {
			display: none;
		}
	}
}

@media (max-width: 1250px) {
	.content {
		grid-template-columns: 1fr 4fr;
	}
}


@media (max-width: 1200px) {

	.container {
		width: 90%;
	}

	.header-slider__text {
		width: 40%;
	}
}

@media (max-width: 1100px) {
	.content {
		grid-template-columns: 1fr;
	}

	.container {
		width: 98%;
	}

	.menu {
		width: 100%;

		&__item {
			width: 100%;
			margin: 0;
		}
	}

	.menu {
		background: #fff;
		height: 100vh;
		width: 100%;
		position: fixed;
		flex-direction: column;
		justify-content: space-between;
		z-index: 15;
		overflow: auto;
		padding: 0;
		transform: translate(-100%);
		transition: .5s;
		overflow: auto;

		&__item {
			&:first-child {
				margin-top: 75px;
			}

			background-color: #F9F9FC;
			padding: 20px 30px;
			margin-right: 0;
			display: flex;
			justify-content: space-between;

			img {
				display: block;
			}
		}
	}

	.header_out {
		display: flex;
	}

	.header_in {
		display: none;
	}

	.burger {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.search {
		margin-top: 20px;
		margin-right: auto;
		margin-left: 30px;
	}

	.sidebar {
		display: none;

		&__item {
			width: 230px;
			margin-top: 20px;
			margin-right: auto;
			margin-left: 30px;
		}

		&__label-wrap {
			padding-top: 10px;
		}
	}
}

@media (max-width: 970px) {
	.content {
		grid-template-columns: 1fr;
		justify-items: center;

		&__title {
			justify-self: start;
		}
	}

	.all {
		grid-column: 2;
	}

	.sidebar {
		grid-row: 9/10;

		&__item {
			width: 230px;
			margin-top: 20px;
			margin-right: auto;
			margin-left: 30px;
		}

		&__label-wrap {
			padding-top: 10px;
		}
	}

	footer {
		height: 30px;

		div {
			display: none;
		}
	}


	.header-slider__wrap-links {
		display: none;
	}

	.header-slider__wrap-items {
		display: flex;
		justify-content: space-between;
		transition: .5s;

		>span:hover {
			background: #fff;
		}
	}
}

.on {
	transform: translate(0%);
	transition: .5s;
}

.on span {
	height: 0;
}

.on span:before {
	width: 28px;
	transition: .5s;
	transform-origin: top center;
	transform: rotate(45deg);
	background: #d7d9df;
}

.on span:after {
	width: 28px;
	transition: .5s;
	transform-origin: bottom center;
	transform: rotate(-45deg);
	background: #d7d9df;
}

.burger_active {
	left: 100%;
	margin-left: -70px;
	margin-top: 10px;
	transition: .5s;
	background: none;
	position: fixed;
	z-index: 20;
}

@media (max-width: 900px) {
	.content {
		grid-gap: 0;
	}

	.header-slider__text {
		width: 50%;
	}

	.news-box1 {
		grid-column: 1/3;
	}

	.news-box2__wrap-img:before {
		content: '';
		background-color: rgba(21, 21, 30, .5);
	}

	.news-box2:nth-child(2) {
		margin: 10px 0;
	}

	.news-right {
		grid-column: 1/3;
		grid-row: 3;
		margin: 25px 15px 50px 15px;
	}

	.wrap-img__link {
		span:before {
			display: none;
		}

		span:after {
			position: absolute;
			right: 0;
		}
	}

	.pagination {
		margin: 40px 0;

		&__arrow-l,
		&__arrow-r {
			border: none;
		}

		&__items {
			max-width: 100%;
			margin: 0 10px;
		}

		&__nav {
			min-width: 40px;
			height: 40px;

			&:after {
				border: 1px solid #FF7931;
				width: 100%;
				height: 100%;
				top: 0;
			}
		}
	}

	.preview {
		&-inner-wrap {
			flex-direction: column;
			height: 60%;

			h3 {
				text-align: center;
			}
		}
	}

	.slider {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 250px;

		&__circle-wrap {
			display: flex;
			justify-content: space-between;
		}

		&__item:nth-child(3),
		&__item:nth-child(4),
		&__item:nth-child(5),
		&__arrow-l,
		&__arrow-r {
			display: none;
		}

		&__item {
			max-width: 300px;
			width: 100%;
			min-height: 146px;

			>img {
				width: 100%;
			}
		}
	}
}

@media (max-width:768px) {
	.header-slider__text {
		width: 60%;
	}

	.header-slider__title {
		font-size: 4rem;
	}
}

@media (max-width:926px) {
	.rewiew {
		width: min-content;
	}
}

@media (max-width:620px) {
	.header-slider__text {
		width: 70%;
	}

	.header-slider__title {
		font-size: 3.5rem;
	}
}

@media (max-width:530px) {
	.header-slider__text {
		width: 80%;
	}

	.header-slider__title {
		font-size: 3rem;
		line-height: 4rem;
	}
}

@media (max-width:460px) {
	.header-slider__text {
		width: 98%;
	}

	.pagination {
		&__items {
			justify-content: space-evenly;
		}

		&__nav:nth-child(4),
		&__nav:nth-child(5) {
			display: none;
		}
	}
}

.header__login_disabled {
	display: none;
}

@media print {
	.nav, .header__login, .news-right, .content__title a { display: none;}
	.content_acc {grid-row: 1/3;}
	.wrap__items {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}