html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.header {
	background: map-get($colors, bg_header);
	@extend %flc;
	align-items: center;
	position: relative;

	&__login {
		margin-left: auto;
		color: map-get($colors, one);
		margin-top: 15px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		flex-wrap: nowrap;

		>a {
			color: inherit;
			margin-right: 10px;
			padding: 5px;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__title {
		padding: 20px 0 40px 0;
		font-family: 'Playfair Display', sans-serif;
		font-style: normal;
		font-weight: 900;
		font-size: 35px;
		line-height: 47px;
		letter-spacing: 1px;
		color: map-get($colors, two);
		text-align: center;
	}

	&-slider {
		@include flex (column, center, space-around);
		width: 100%;

		&__wrap-links {
			width: 70%;
			@include flex (row, center, space-between);
		}

		&__new {
			width: 100px;
			height: 30px;
			background-color: #FF7931;
			color: map-get($colors, three);
			@include flex (row, center, center);
			font-family: 'Raleway', sans-serif;
			font-size: 1rem;
			line-height: 19px;
			text-align: center;
			letter-spacing: 2px;
		}

		&__title {
			font-family: 'Raleway', sans-serif;
			font-weight: 300;
			font-size: 4.5rem;
			line-height: 85px;
			letter-spacing: 2px;
			color: #FFFFFF;
		}
	}
}

.carousel-indicators__item {
	width: 10px !important;
	height: 10px !important;
	border-radius: 50% !important;
}

.carousel-item {
	width: 100%;
	height: 700px;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: #0000006b;
		z-index: 1;
	}

	>img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.carousel-caption {
	top: 50px;

	>h3 {
		font-size: 4.5rem;
	}
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	margin-bottom: 10px;

	&__item {
		font-family: 'Raleway', sans-serif;
		font-size: .95rem;
		line-height: 1.1rem;
		letter-spacing: 2px;
		padding: 10px 0;
		margin: 0 10px;
		text-align: center;
		color: map-get($colors, two);

		&:hover {
			color: map-get($colors, one);
		}

		img {
			display: none;
		}
	}
}

.header-slider__wrap-items {
	display: none;
	width: 100px;
	margin-top: 20px;

	span {
		width: 10px;
		height: 10px;
		background: #ffffff66;
		border-radius: 50%;
		cursor: pointer;
		transition: .5s;
	}
}

.burger {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0;
	left: 0;
	z-index: 5;
	background: #FF7931;
	transition: .5s;
	display: none;

	span,
	span:before,
	span:after {
		content: '';
		position: absolute;
		width: 22px;
		height: 2.5px;
		background: #fff;
		transition: .5s;
	}

	span:before {
		transform: translateY(-5px);
	}

	span:after {
		transform: translateY(5px);
	}
}

.my-font-one {
	font-family: map-get($fonts, two), sans-serif;
}