.my-container {
	width: 95%;
	margin-top: 30px;
	flex: 1 0 auto;
}

.content {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 30px;

	&_acc {
		grid-template-columns: 2fr 1fr;
	}


	&__title {
		grid-column: 2;
		grid-row: 1;
		display: flex;
	}

}

.news {
	display: grid;
	grid-template-columns: 1.4fr 1fr;
	grid-column-gap: 20px;
	grid-column: 2;

	&__title {
		font-family: map-get($fonts, two), sans-serif;
		font-weight: bold;
		font-size: 17px;
		line-height: 20px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

.news-box1 {
	min-height: 351px;
	height: 100%;
	background-size: cover;
	grid-column: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	>a {
		height: 100%;
		color: #000;
		display: flex;
		align-items: flex-end;
		transition: .5s;
	}

	&:hover .news-box1__header {
		color: map-get($colors, one);
		transition: .5s;
	}

	&__content {
		padding-left: 20px;
	}

	&__header {
		font-family: map-get($fonts, one), sans-serif;
		font-weight: 900;
		font-size: 20px;
		line-height: 27px;
		padding-bottom: 10px;
	}

	&__text {
		font-family: map-get($fonts, two), sans-serif;
		font-size: 1.14rem;
		line-height: 150%;
		padding-bottom: 20px;
	}
}

.news-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-column: 2;
}

.news-box2 {
	display: flex;
	min-height: 100px;

	&__link {
		display: flex;
		flex-direction: column;
		color: #000;
	}

	&__inner {
		display: flex;
	}

	&__wrap-img {
		display: flex;
		position: relative;
		max-height: 110px;

		>img {
			max-width: 130px;
			max-height: 110px;
		}
	}

	&__title {
		font-family: map-get($fonts, one), sans-serif;
		font-weight: 900;
		font-size: 1.1rem;
		line-height: 19px;
	}

	&__text {
		font-family: map-get($fonts, two), sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 150%;
	}
}

.news-box2__wrap-img:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000000b3;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s;
}

.news-box2:hover,
.news-box3:hover,
.news-box4:hover {
	.wrap-text {
		h3 {
			color: #FF7931;
			transition: .5s;
		}
	}

	.news-box2__wrap-img:before {
		opacity: 1;
		transition: .5s;
	}
}

.wrap-text {
	margin-left: 10px;

	h3 {
		transition: .5s;
	}
}

.rewiews {
	grid-column: 2;

	&__title {
		margin-bottom: 15px;
		font-family: map-get($fonts, two), sans-serif;
		font-weight: bold;
		font-size: 1.06rem;
		line-height: 1, 25rem;
	}

	&__subtitle {
		font-family: map-get($fonts, one), serif;
		font-weight: 900;
		font-size: 1.4rem;
		line-height: 2rem;
		transition: .4s;
	}

	&__text {
		font-family: map-get($fonts, two), sans-serif;
		font-size: 0.875rem;
		line-height: 1.5rem;
	}

	&__item {
		>.wrap-img:hover{
			.wrap-img__link  {
				background-color: #000000b3;
				transition: .5s;
				span {
					opacity: 1;
					transition: .3s;
				}
			}
			.wrap-img + .rewiews__subtitle {
				color: #FF7931;
				transition: .4s;
			}
		}

	}

	&__wrap-text {
		margin-top: 15px;
	}
}

.wrap-img {
	position: relative;
	max-width: 489px;
	// max-height: 300px;

	img {
		width: 100%;
		max-height: 300px;
		object-fit: cover;
		object-position: center;
	}

	&__link {
		display: flex;
		justify-content: space-between;
		height: 100%;
		width: 100%;
		position: absolute;
		transition: .5s;

		span {
			display: flex;
			justify-content: space-between;
			color: #ffffff66;
			width: 100%;
			align-items: flex-end;
			margin: 0 0 1.25rem 0.93rem;
			transition: .3s;
			opacity: 0;
		}
	}

	&_color {
		background: map-get($colors, bg_header);
		max-height: 500px;

		>img {
			object-fit: cover;
			max-height: 420px;
		}
	}
}

.wrap__items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 30px;
	grid-column-gap: 60px;
}

.sidebar {
	grid-column: 1;
	grid-row: 1/3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: 370px;

	&__wrap {
		position: sticky;
		top: 20px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 10px;
		border: 1px solid map-get($colors, one);
	}

	&__title {
		font-weight: normal;
		align-self: start;
	}

	&__text {
		align-self: start;
	}

	&__date {
		display: flex;
		justify-content: flex-end;

		>input {
			max-width: 120px;
			border: 1px solid map-get($colors, one);
		}
	}

	&__btn {

		background: map-get($colors, one);
		color: map-get($colors, three);
	}
}

.search {
	display: flex;

	&__input {
		padding-left: 15px;
		height: 30px;
		border: 1px solid map-get($colors, one);
	}

	&__btn {
		background: map-get($colors, one);
		width: 56px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid map-get($colors, one);
		margin-left: -1px;
		outline-width: 0;
		transition: .3s;

		>svg {
			width: 70%;
			height: 70%;

			>path {
				fill: map-get($colors, three);
			}
		}

		&:hover svg path {
			fill: map-get($colors, one);
			transition: .3s;

		}

		&:hover {
			background: map-get($colors, three);
			transition: .3s;
		}
	}
}

.watch {
	letter-spacing: 2px;
	width: 160px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	background: map-get($colors, one);
	transition: .3s;
	border: 2px solid map-get($colors, one);

	&:hover {
		color: map-get($colors, two);
		background: map-get($colors, three);
		transition: .3s;
	}

	img {
		width: 16px;
		height: 16px;
		margin-left: 10px;
	}

	&_white {
		width: 109px;
		height: 31px;
		background: #0000004d;
		border: 1px solid #fff;
		font-size: 0.625rem;
		letter-spacing: 2px;
	}
}

.slider {
	grid-column: 1/3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 0;
	height: 313px;

	&__circle-wrap {
		width: 100px;
		display: none;
		margin-top: 20px;

		span {
			width: 10px;
			height: 10px;
			background: #0000004d;
			border-radius: 50%;
			cursor: pointer;
			transition: .5s;
		}

		span:hover {
			background: #000000;
		}
	}

	&__inner-wrap {
		color: map-get($colors, three);
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: .3s;
		top: 0;
		left: 0;

		h3 {
			margin-bottom: 15px;
		}

		&:hover {
			opacity: 1;
			transition: .3s;
			background-color: #00000066;
		}
	}

	&__item {
		position: relative;
		height: 110px;
		transition: .3s;

		>img {
			height: 100%;
			width: 270px;
			object-fit: cover;
		}

		&:hover {
			height: 136px;
			transition: .3s;
		}
	}

	&__arrow-l,
	&__arrow-r {
		position: absolute;
		z-index: 2;
		height: 45px;
		width: 45px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0 20px #00000026;
		cursor: pointer;
	}

	&__arrow-l {
		left: -20px;
		top: calc(50% - 22.5px);
	}

	&__arrow-r {
		right: -20px;
		top: calc(50% - 22.5px);
	}
}

.header_out {
	display: none;
}

.account__text {
	display: flex;
	flex-direction: column;
	line-height: 3rem;
}

.account__table {
	display: flex;
	align-items: start;

	a {
		color: map-get($colors, one);
		border: 1px solid map-get($colors, one);
		padding: 7px 20px;
		transition: .3s;

		&:nth-child(2) {
			margin: 0 10px;
		}

		&:hover {
			background: map-get($colors, one);
			color: map-get($colors, three);
			transition: .3s;
		}
	}

	@media (max-width:650px) {
		& {
			flex-direction: column;

			a:nth-child(2) {
				margin: 5px 0;

			}
		}
	}
}

.anothe_articles {
	&_wrap {
		align-self: end;
	}

	border: 1px solid map-get($colors, one);
	padding: 10px;
	background: map-get($colors, bg_header);
	max-width: 320px;
}