
// ЦВЕТА
$colors: (
	bg_header: #EFEFEF,
	txt_footer: #716762,
	one: #FF7931,
	two: #000,
	three: #fff,
	four: #4d4d4d,
	five: #b3b3b3,
	six: #f7f7f7
);

// ОСНОВНЫЕ РАЗМЕРЫ
$sizes: (
	fz: 1.3rem
);

// ИЗМЕНЕНИЕ ЦВЕТА
@mixin lightColor ($col, $val) {
	color: scale-color(map-get($colors, $col), $lightness: $val);
}

%flc {
	display: flex;
	flex-direction: column;
}

@mixin flex ($dir, $ai, $jc) {
	display: flex;
	flex-direction: $dir;
	align-items: $ai;
	justify-content: $jc;
}

$fonts: (
	one: 'Playfair Display',
	two: 'Raleway'
);